.post-meta {
  font-style: italic;
  font-weight: 300;
  width: auto;
  color: #9a9a9a;
}

a.anchor {
	display: block;
	position: relative;
	top: -99px;
	visibility: hidden;
}

i.fa-small {
  font-size: 0.4em;
  vertical-align: middle;
}

.small {
  font-size: 0.7rem;
}
